@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-outfit: "Outfit", sans-serif;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #fcfcfc;
  scroll-behavior: smooth;
}

html {
  scroll-padding-top: 80px;
  /* Adjust based on navbar height */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}